  .blog-logo {
    justify-content: left;
    top: 10px;
    grid-column: 1;
  }

  .website-container {
    background-color: azure;
    display:  flex; 
    justify-content:space-between;
    text-align: center; 
    height: 200px;
    grid-template-columns: 1fr 2fr;
  }

  .logo-container {
    position: relative;
    overflow: hidden;
    width: 200px;
    height: 100px; 
  }
    
  .logo {
    position: absolute;
    left: -200px; 
    transition: left 0.5s ease; 
  }
    
  .logo-container.active .logo {
    left: 0; 
  }

  .header {
    display: center ;
    align-items: baseline;
  }

  .website-name {
    font-family: Arial, sans-serif;
    font-size: 54px;
    color: #333;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px;
    border: 2px solid #333;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    text-align: center;
    box-sizing: border-box;
    line-height: 1;
  }

  .table-name {
    font-size: 32px;
    color: #333;
    text-decoration:dashed;
    text-transform: capitalize;
    background-color: #c1dad7;

  }
  
  .website-name:hover {
    background-color: #333;
    color: #fff;
  }
  
  
.table-container {
    border: 3px solid #333;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px; 
    margin-top: -20px; 
  }
  
  table {
    margin-left: auto; 
    border-collapse: separate;
    width: 86%; 
  }

  thead {
    background-color: #2c2f33;
    color: #ddd;
  }

  tbody tr:nth-child(even) {
    background-color:  #c1dad7;
  }
  
  tbody tr:nth-child(odd) {
    background-color: white; 
  }

  tfoot {
    background-color: #ddd;
  }

  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  .pagination {
    text-align: center;
    margin-top: 170px;    
  }
  
  .pagination button {
    padding: 8px 12px; /* Adjusted padding for smaller buttons */
    font-size: 14px; /* Decreased font size */
    background-color: #718b88;
    color: white;
    border: 1px solid black; 
    border-radius: 3px; /* Added border radius for rounded corners */
    cursor: pointer;
    margin-left: 6px; /* Adjusted margin for spacing */
    transition: background-color 0.3s ease;
  }
  
  .pagination button:hover {
    background-color: #2c2f33; /* Changed color when hovered */
  }
  
  .pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .pagenumber {
    font-size: 16px;
    color: #333;
    text-decoration:dashed;
    background-color: #c1dad7;

  }

  