/* Styling for the website container */
.blog-logo {
    display:flex;
    align-items:center;
    justify-content: left;
    top: 10px;

  }

.website-container {
    background-color: azure;
    text-align: center; 
  }
  
  /* Styling for the website section */


  .header {
    display: center ;
    align-items: baseline;
  }

  
  /* Styling for the website name */
  .website-name {
    font-family: Arial, sans-serif;
    font-size: 54px;
    color: #333;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px;
    border: 2px solid #333;
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.3s ease;
    text-align: center;
    box-sizing: border-box;
    line-height: 1;
  }