.blog-logo {
  justify-content: left;
  top: -25px;
  grid-column: 1;

}

.website-container {
  background-color: azure;
  display:flex; 
  text-align: center; 
  height: 200px;
  grid-template-columns: 1fr 2fr;
}


.logo-container {
  position: relative;
  overflow: hidden;
  width: 200px;
  height: 100px; 
}

.header {
  display: center ;
  align-items: baseline;
}

.logo {
  position: absolute;
  left: -200px; 
  transition: left 0.5s ease; 
}

.logo-container.active .logo {
  left: 0; 
}

.website-name {
  font-family: Arial, sans-serif;
  font-size: 54px;
  color: #333;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  text-align: center;
  box-sizing: border-box;
  line-height: 1;
  
}

.website-name:hover {
  background-color: #333;
  color: #fff;
}
img {
  display: inline-block;
  margin-top: 10px;
  margin-left: 0px;
  border-radius: 15px;
}

div > div {
  display: inline-table;
  margin-right: 50px;
  text-align: center;
  position: relative;
  left: 0px;
}

h1.title {
  font-size: 46px;
  font-weight: bold;
  text-align: center;
}

div > div:first-child {
  margin-left: 240px;
}

.categories {
  padding: 10px;
  border: 1px solid #333;
  border-radius: 15px;
  color: #333;
  text-decoration: dashed;
  text-transform: capitalize;
  background-color: #97dcc4;
}
