
<div class="navbar-container">
    <div class="navbar">
      <div class="navbar-header" (click)="toggleSlide('users')">
        <span class="navbar-header-text">USERS</span>
        <div class="navbar-header-subtitle" *ngIf="activeTab === 'users'">
            <span class="navbar-header-subtitle-text" [routerLink]="'users'">User List</span>
          <span class="navbar-header-subtitle-text" [routerLink]="'/users/createuser'">Create User</span>
        </div>
      </div>
      <div class="navbar-header" (click)="toggleSlide('categories')">
        <span class="navbar-header-text">CATEGORİES</span>
        <div class="navbar-header-subtitle" *ngIf="activeTab === 'categories'">
            <span class="navbar-header-subtitle-text" [routerLink]="'categories'">Category List</span>
          <span class="navbar-header-subtitle-text" [routerLink]="'/categories/createcategory'" >Create Category</span>
        </div>
      </div>
      <div class="navbar-header" (click)="toggleSlide('posts')">
        <span class="navbar-header-text">POSTS</span>
        <div class="navbar-header-subtitle" *ngIf="activeTab === 'posts'">
            <span class="navbar-header-subtitle-text" [routerLink]="'posts'">Post List</span>
          <span class="navbar-header-subtitle-text"[routerLink]="'/posts/createpost'">Create New Post</span>
          <span class="navbar-header-subtitle-text">Filter by User ID</span>
          
          <span class="navbar-header-subtitle-text">Filter by Post ID</span>
          <span class="navbar-header-subtitle-text">Filter by Category ID</span>
        </div>
      </div>
      <div class="navbar-header" (click)="toggleSlide('comments')">
        <span class="navbar-header-text">COMMENTS</span>
        <div class="navbar-header-subtitle" *ngIf="activeTab === 'comments'">
        <span class="navbar-header-subtitle-text" [routerLink]="'comments'">Comment List</span>  
          <span class="navbar-header-subtitle-text" [routerLink]="'/comments/createcomment'">Create New Comment</span>
          <span class="navbar-header-subtitle-text">Filter by Post ID</span>
        </div>
      </div>
    </div>
  </div>
  