.edit-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 30px;
  width: 400px; 
  max-width: 90%;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 9999;
}

.edit-popup h2 {
  font-size: 20px; 
  margin-bottom: 15px;
}

.edit-popup label {
  display: block;
  margin-bottom: 10px;
}

.edit-popup input[type="text"] {
  width: 300px; 
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  background-color: #f4f4f4;
  font-size: 16px;
}


.edit-popup button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.edit-popup button:hover {
  opacity: 0.8;
}
