<div class="edit-popup">
  <h1>Edit Item</h1> 
  <h2>Item id = {{this.itemId}}</h2>
  <label *ngFor="let key of item;">{{key | uppercase}}</label>
  <label>Property 1:</label>
  <input [(ngModel)]="item.property1" type="text" />

  <label>Property 2:</label>
  <input [(ngModel)]="item.property2" type="text" />

  <!-- Add more input fields for other properties as needed -->
  <div class="buttons">
  <button (click)="saveChanges()" class="save-btn">Save</button>
  <button (click)="saveChanges()" class="cancel-btn">Cancel</button>
</div>
</div>
